$secondaryFont: "Montserrat", sans-serif;
$primaryFont: "Oswald", sans-serif;

$white: hsla(0, 0, 95, 1);
$black: #26292e;
$red: #ff5564;
$softBlack: hsla(224, 7, 13, 1);
$softBlue: hsla(208, 25, 79, 1);
$grey: hsla(0, 0, 35, 1);
