.card-columns.pups {
  column-count: 2;
  column-gap: 10px;
  grid-column-gap: 10px;
  width: 90vw;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .card-columns.pups {
    column-count: 2;
  }
}

.card-columns .card {
  margin-bottom: 10px !important;
  z-index: 200;
}

div.card {
  border: transparent !important;
}
