@import "./variables";

.sectionName {
  font-family: $thirdFont;
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  border-bottom: 1px solid $black;
  letter-spacing: 10px;
  line-height: 3;
}

.sectionDiv {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 0vh;
}

.card-columns.home {
  column-count: 3;
  column-gap: 10px;
  grid-column-gap: 10px;
  width: 80vw;
  margin: 0 auto;
  margin-top: 100vh;
}

.card-columns.home .card {
  margin-bottom: 5px !important;
}

@media only screen and (max-width: 600px) {
  .card-columns.home {
    column-count: 1;
  }
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transform: scale(0);
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}
.hvrbox .hvrbox-text {
  font-family: $thirdFont;
  border-bottom: 0.5px solid $white;
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .hvrbox .hvrbox-layer_top,
  .hvrbox.active .hvrbox-layer_top {
    opacity: 1;
    transform: translateY(0);
    cursor: pointer;
  }
}

.mainContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.blendContainer {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  left: 0;
  z-index: -1;
  animation: move 2s ease-in forwards;
  & img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
    z-index: 3;
  }
  & video {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    opacity: 1;
    object-fit: cover;
    opacity: 0.9;
  }
}

@media only screen and (max-width: 600px) {
  .blendContainer {
    min-width: 100vw;
    min-height: 80vh;
    bottom: 0;
  }
}

@media only screen and (min-width: 2000px) {
  .blendContainer {
    min-width: 100vmin;
    min-height: 100vmin;

    transform: translate(50%, 50%);

    bottom: 50%;
  }
}

@keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
