@import "./variables";

.homeContainer {
  height: auto;
}

.bgImage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-image: url("https://res.cloudinary.com/df9q0hnuw/image/upload/v1588562731/jg-photo/DSC_2787-Edit_qafjgx.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  cursor: pointer;
}
.card {
  border: none !important;
}

.sectionName {
  font-family: $thirdFont;
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  border-bottom: 1px solid $black;
  letter-spacing: 10px;
  line-height: 3;
}

.sectionDiv {
  display: flex;
  justify-content: center;
  margin: auto;
}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  opacity: 1;
  cursor: pointer;
}
.hvrbox img {
  max-width: 100%;
  opacity: 1;
}

.hvrbox .hvrbox-layer_top {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  cursor: pointer;
}

.hvrbox .hvrbox-text {
  font-family: $thirdFont;
  border-bottom: 0.5px solid $white;
  text-align: center;
  font-size: 4vh;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill ease-in 1.5s forwards;
  font-family: $thirdFont;
  color: #4b444c;
  text-shadow: 0px 5px 20px grey;
  white-space: nowrap;
  font-size: 10vmin;
}

.home {
  width: 30vmax;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 100%;
  z-index: 20;
}
.portraitCard {
  margin-bottom: 100px;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .home {
    width: 20vmax;
  }
}

@media only screen and (max-width: 650px) {
  .bgImage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("https://res.cloudinary.com/df9q0hnuw/image/upload/v1588562728/jg-photo/DSC_1874-Edit_vgltlt.jpg");
  }
  #logo {
    color: rgb(208, 208, 208);
    text-shadow: 0px 5px 20px rgb(36, 36, 36);
  }
}
