@import "./variables";

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.jgPhoto {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 100vmin;
  opacity: 0.8;
  z-index: 1;
}

.name {
  //   font-size: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  color: #074973;
  text-align: center;
  font-family: $cursive;
  letter-spacing: 5px;
}

.discover {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: white !important;
  border: 1px solid white !important;
  font-size: 3.5vmin !important;

  &:hover {
    background-color: #074973;
    transform: scale(1.05);
    transition: 500ms;
  }
}
.mainLogo {
  z-index: 1000 !important;
  position: relative;
  top: 60px;
  left: 200px;
}
