@import "./variables";

// img {
//   min-height: auto;
// }
.card-columns {
  column-count: 3;
  column-gap: 10px;
  grid-column-gap: 10px;
}

.card-columns .card {
  margin-bottom: 5px !important;
}
