@import "./variables";

.card-columns.landscapes {
  column-count: 4;
  column-gap: 10px;
  grid-column-gap: 10px;
  width: 90vw;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .card-columns.landscapes {
    column-count: 2;
  }
}

.card-columns .card {
  margin-bottom: 10px !important;
  z-index: 20;
}

div.card {
  border: transparent !important;
}

// .card:hover {
//   transform: scale(1.5);
//   transition: 500ms;
//   transition-delay: 500ms;
//   z-index: 1000;
// }
