@import "./variables";

img {
  width: 100%;
  height: 100%;
  padding: 0% !important;
  cursor: none !important;
}

.sectionName {
  font-family: $secondaryFont;
  color: $black;
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
}

.sectionDiv {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $black;
  margin: auto;
  margin-bottom: 100px;
}
