@import "./variables";
.loadContainer {
  & h2 {
    font-family: $thirdFont;
  }
  display: flex;
  top: 100px;
  left: 50px;
  position: absolute;
  & h4 {
    font-family: $thirdFont;
  }
}
.loader {
  & h1 {
    font-family: $thirdFont;
  }
  animation: load 1s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(360deg);
    transform-origin: inherit;
  }
}
