@import "./variables";

.navbar-brand {
  font-family: $cursive;
  color: #074973 !important;
  font-size: 2rem !important;
  letter-spacing: 5px;
}
.nav-link {
  font-family: $serif;
  color: $black !important;
  font-size: 1.2rem;
}

.dropdown-item {
  font-family: $serif;
  color: #074973 !important;
}
.navbar {
  margin: auto;
  background: transparent;
  z-index: 40;
  height: 300px;
}
.dropdown-menu {
  background-color: transparent !important;
  color: $white !important;
}
.navbar-toggler {
  color: #074973 !important;
  border: none !important;
  &:focus {
    outline: none !important;
  }
}

// .navbar-collapse {
//   display: flex;
//   justify-content: center;
// }
