@import "./variables";

.nav-link {
  font-family: $thirdFont;
  color: $black !important;
  font-size: 1rem;
  letter-spacing: 2px;
  &:hover {
    color: steelblue !important;
  }
}

.dropdown-item {
  font-family: $primaryFont;
  border: none;
  color: $black !important;
  &:hover {
    color: $black !important;
  }
}
.navbar {
  position: absolute;
  right: 0px;
  top: 50px;
  background: transparent !important;
  z-index: 40;
}

.dropdown-menu {
  background-color: transparent !important;
  color: black !important;
  border: none !important;
}
.navbar-toggler {
  color: steelblue !important;
  border: none !important;
  &:focus {
    outline: none !important;
  }
}
