@import "./variables";

.btn {
  background-color: transparent !important;
  color: $black !important;
  width: 100%;
  font-size: 1.2rem;
  font-family: $primaryFont;
  &:hover {
    border-bottom: 1px solid steelblue;
    transform: scale(1.05);
  }
}
.active {
  background-color: transparent;
  color: $white !important;
  border-bottom: 1px solid steelblue;
  width: 100%;
  transform: scale(1.1);
}
