@import "./variables";

.btn {
  background-color: transparent !important;
  color: $black !important;
  width: 100%;
  font-size: 1.2rem;
  font-family: $thirdFont;
  &:hover {
    transform: scale(1.05);
  }
}
.active {
  background-color: steelblue;
  border-radius: 50%;
  color: $white !important;
  transform: scale(1.1);
}
.btn:focus {
  outline: none !important;
}

.btn {
  padding: 0.1rem 0.5rem;
}
