@import "./sass/variables";

.App {
  width: 100vw;
  min-height: 100vh;
  background: $white;

  box-sizing: border-box;
}

.copyright {
  display: flex;
  justify-content: center;
  font-family: $primaryFont;
}
