@import "./sass/variables";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  font-family: $secondaryFont;
  background-color: rgb(6, 4, 5);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
