@import "./sass/variables";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: $secondaryFont;
  background-image: url(https://res.cloudinary.com/df9q0hnuw/image/upload/v1588137287/jg-photo/DSC_3309-Edit_aijgpi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
