@import "./sass/variables";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  font-family: $secondaryFont;
  background-color: black;
  width: 100%;
  height: 100%;
}
